@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
 /* Neutral colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--very-light-gray);
}

p {
  color: var(--grayish-blue);
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  padding-top: 2rem;
  max-width: 500px;  
}

/* head style */
.head {
  grid-area: head;
  margin-bottom: 2rem;
  text-align: center;
}

h1 {
  font-weight: 200;
}

span {
  font-weight: 400;
}

/* boxes style */
.boxes {
  grid-area: boxes;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1.7rem;
  box-shadow: 0 10px 20px rgb(212, 212, 212);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 180px;
}

h2 {
  margin: 0 0 16px;
  font-weight: 400;
}

.icon {
  width: 50px;
  height: auto;
  align-self: flex-end;
  margin-top: 1rem;
}

.supervisor {
  border-top: 5px solid var(--cyan);
}

.builder {
  border-top: 5px solid var(--red);
}

.karma {
  border-top: 5px solid var(--orange);
}

.calculator {
  border-top: 5px solid var(--blue);
}

@media (min-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  
  main {
    height: 100vh;
  }

  .wrapper {
    max-width: 1200px;
    grid-template-areas:"header header header"
                        "boxes boxes boxes";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;                    
  }

  .header {
    margin: 0 auto;
    max-width: 500px;
    height: 200px;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  .boxes {
    display: grid;
    grid-template-areas: "supervisor stacked-boxes calculator";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 10px;
  }

  .supervisor, 
  .calculator {
    margin: auto 0;
  }

  .card p {
    margin: 0;
  }

  .icon {
    width: 60px;
  }
}